.category {
  margin-bottom: 34px;
  &__list{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__item {
    min-height: 110px;
    transition: all .3s ease;
    &--subject {
      background-color: #63d1bb;
    }
    &--toy {
      background-color: #56c3b2;
    }
  }
  &__link {
    color: #ffffff;
    display: block;
    padding: 30px;
    font-size: 19px;
    position: relative;
    &--interior::after,
    &--toy::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 62px;
      opacity: 0.5;
      background-repeat: no-repeat;
      background-position: 0% 0%;
    }
    &--interior::after {
      right: 30px;
      width: 40px;
      background-image: url(../img/icon-interior.svg);
    }
    &--toy::after {
      right: 20px;
      width: 60px;
      background-image: url(../img/icon-toy.svg);
    }
    &--interior:hover::after,
    &--toy:hover::after {
      opacity: 0.7;
    }
    &--interior:active::after,
    &--toy:active::after {
      opacity: 0.3;
    }
  }
  &__item:hover {
    min-height: 115px;
    margin-top: -5px;
    &--subject:hover {
      background-color: #59d5bc;
    }
    &--toy:hover {
      background-color: #46c1ae;
    }
  }
  &__item:active &__link {
    color: #8be2d0;
  }
}

@media (min-width: $tablet-width) {
  .category {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      bottom: -2px;
      height: 17px;
      width: 100vw;
      background-image: url(../img/bg-zigzag-fill.svg);
      background-repeat: repeat-x;
      background-position: center;
      background-size: contain;
      transform: scaleX(1.4);
    }
    background-color: #f9f9f9; 
    &__list {
      display: flex;
      width: 768px;
      padding: 0 50px;
      box-sizing: border-box;
      margin: 0 auto;
    }
    &__item {
      width: 50%;
    }
    &__link {
      padding-left: 35px;
      font-size: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .category {
    margin-bottom: 130px;
    &__list {
      width: 1150px;
    }
  }
}