.order {
  margin-bottom: 55px;
  &__text {
    font-size: 13px;
    font-weight: 400;
    color: #444444;
    margin-bottom: 25px;
  }
}

@media (min-width:$tablet-width) {
  .order {
    &__text {
      font-size: 17px;
      line-height: 30px;
      margin-bottom: 70px;
    }
  }
}

@media (min-width:$desktop-width) {
  .order {
    &__text {
      padding: 0 225px;
    }
  }
}