.reviews {
  margin-bottom: 95px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: 7px;
    width: 115vw;
    bottom: -55px;
    transform: translateX(50%);
    background-image: url(../img/bg-zigzag-line.svg);
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
    transform: scaleX(1.4);
  }
  &__title {
    font-size: 25px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 35px;
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__comment {
    padding: 0;
    margin: 0;
  }
  &__text {
    line-height: 30px;
    color: #444444;
    font-weight: 400;
    margin: 0;
    margin-bottom: 40px;
  }
  &__author {
    font-size: 17px;
    margin-bottom: 10px;
    display: block;
  }
  &__link {
    font-size: 17px;
    color: #444444;
    font-weight: 400;
    margin-bottom: 30px;
    display: block;
  }
  &__arrow {
    border: 1px solid #ececec;
    padding: 13px;
    font-size: 0;
    border: 1px solid #ececec;
    background-color: transparent;
    width: 100%;
    cursor: pointer;
  }
  &__wrap-arrow {
    display: flex;
    margin-bottom: 38px;
  }
  &__arrow-img {
    margin: 0 auto;
    transition: all .3s ease;
    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.3;
    }
  }
  &__button {
    width: 100%;
  }
}

@media (min-width:$tablet-width) {
  .reviews {
    background-image: url(../img/review@1x.jpg);
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: contain;
    display: flex;
    padding-top: 80px;
    padding-bottom: 50px;
    margin-bottom: 150px;
    & {
      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url(../img/review@2x.jpg);
        background-size: 350px auto;
      }
    }
    &::after {
      height: 17px;
      bottom: -80px;
    }
    &__wrap-second {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      width: 25%;
    }
    &__title {
      font-size: 43px;
      line-height: 50px;
    }
    &__text {
      font-size: 17px;
      line-height: 30px;
    }
    &__arrow {
      border: none;
    }
    &__wrap-arrow,
    &__link {
      margin-bottom: 0;
    }
    &__text {
      margin-right: -160px;
    }
  }
}

@media (min-width:$desktop-width) {
  .reviews {
    background-position: 50px 0%;
    padding-bottom: 100px;
    margin-bottom: 160px;
    &::after {
      height: 20px;
    }
    &__title {
      font-size: 53px;
      line-height: 57px;
    }
    &__wrap-first {
      padding-left: 175px;
    }
    &__text {
      margin-right: -90px;
    }
  }
}
