@import "./global.scss";
@import "./blocks/header.scss";
@import "./blocks/main.scss";
@import "./blocks/category.scss";
@import "./blocks/weekly-product.scss";
@import "./blocks/about-us.scss";
@import "./blocks/reviews.scss";
@import "./blocks/contacts.scss";
@import "./blocks/address.scss";
@import "./blocks/goods.scss";
@import "./blocks/production-process.scss";
@import "./blocks/order.scss";
@import "./blocks/form.scss";
@import "./blocks/footer.scss";
